In [513]:
import pandas as pd
import numpy as np
import yfinance as yf
from fredapi import Fred
from datetime import datetime

In [514]:
import pandas as pd
import numpy as np
import yfinance as yf
from fredapi import Fred
from datetime import datetime

START_DATE = "2015-01-01"
END_DATE = datetime.today().strftime("%Y-%m-%d")

yahoo_assets = {
    "SP500": "^GSPC",
    "NASDAQ": "^IXIC",
    "DXY": "DX-Y.NYB",
    "VIX": "^VIX",
    "GOLD": "GLD"
}

print("Setup complete:", START_DATE, "→", END_DATE)

Setup complete: 2015-01-01 → 2025-12-20

In [515]:
print("kernel is alive")

kernel is alive

In [516]:
print("hello world")

hello world

In [517]:
test = yf.download(
    "^GSPC",
    start="2024-01-01",
    end="2024-01-31",
    progress=False
)

test.head()

/var/folders/35/bqvj76w528bcg7bcnchzncw00000gn/T/ipykernel_13483/749973794.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  test = yf.download(

Price             Close         High          Low         Open      Volume
Ticker            ^GSPC        ^GSPC        ^GSPC        ^GSPC       ^GSPC
Date
2024-01-02  4742.830078  4754.330078  4722.669922  4745.200195  3743050000
2024-01-03  4704.810059  4729.290039  4699.709961  4725.069824  3950760000
2024-01-04  4688.680176  4726.779785  4687.529785  4697.419922  3715480000
2024-01-05  4697.240234  4721.490234  4682.109863  4690.569824  3844370000
2024-01-08  4763.540039  4764.540039  4699.819824  4703.700195  3742320000

In [518]:
yahoo_prices = yf.download(
    list(yahoo_assets.values()),
    start=START_DATE,
    end=END_DATE,
    auto_adjust=True,
    progress=False
)

yahoo_prices = yahoo_prices["Close"]
yahoo_prices.columns = yahoo_assets.keys()

yahoo_prices.tail()

                SP500      NASDAQ          DXY           VIX       GOLD
Date
2025-12-15  98.150002  395.799988  6816.509766  23057.410156  16.500000
2025-12-16  98.150002  395.890015  6800.259766  23111.460938  16.480000
2025-12-17  98.370003  399.290009  6721.430176  22693.320312  17.620001
2025-12-18  98.430000  398.570007  6774.759766  23006.359375  16.870001
2025-12-19  98.599998  399.019989  6834.500000  23307.619141  14.910000

In [519]:
yahoo_prices = yf.download(
    list(yahoo_assets.values()),
    start=START_DATE,
    end=END_DATE,
    auto_adjust=True,
    progress=False
)

yahoo_prices = yahoo_prices["Close"]
yahoo_prices.columns = yahoo_assets.keys()

yahoo_prices.tail()

                SP500      NASDAQ          DXY           VIX       GOLD
Date
2025-12-15  98.150002  395.799988  6816.509766  23057.410156  16.500000
2025-12-16  98.150002  395.890015  6800.259766  23111.460938  16.480000
2025-12-17  98.370003  399.290009  6721.430176  22693.320312  17.620001
2025-12-18  98.430000  398.570007  6774.759766  23006.359375  16.870001
2025-12-19  98.599998  399.019989  6834.500000  23307.619141  14.910000

In [520]:
yahoo_prices = yf.download(
    list(yahoo_assets.values()),
    start=START_DATE,
    end=END_DATE,
    auto_adjust=True,
    progress=False
)

yahoo_prices = yahoo_prices["Close"]
yahoo_prices.columns = yahoo_assets.keys()

yahoo_prices.tail()

                SP500      NASDAQ          DXY           VIX       GOLD
Date
2025-12-15  98.150002  395.799988  6816.509766  23057.410156  16.500000
2025-12-16  98.150002  395.890015  6800.259766  23111.460938  16.480000
2025-12-17  98.370003  399.290009  6721.430176  22693.320312  17.620001
2025-12-18  98.430000  398.570007  6774.759766  23006.359375  16.870001
2025-12-19  98.599998  399.019989  6834.500000  23307.619141  14.910000

In [521]:
import os
os.getcwd()

'/Users/max/Documents/macro-event-impact-tracker/notebooks'

In [522]:
import os

PROJECT_ROOT = os.path.dirname(os.getcwd())
DATA_PATH = os.path.join(PROJECT_ROOT, "data", "market_prices_yahoo.csv")

yahoo_prices.index.name = "date"
yahoo_prices.to_csv(DATA_PATH)

print("Saved to:", DATA_PATH)

Saved to: /Users/max/Documents/macro-event-impact-tracker/data/market_prices_yahoo.csv

In [523]:
from fredapi import Fred

FRED_API_KEY = "b365ff3796de80bbdeddaed31a01bdd8"
fred = Fred(api_key=FRED_API_KEY)

print("FRED connection ready")

FRED connection ready

In [524]:
ust_yields = pd.DataFrame({
    "UST_2Y": fred.get_series("DGS2", START_DATE, END_DATE),
    "UST_10Y": fred.get_series("DGS10", START_DATE, END_DATE)
})

ust_yields.index.name = "date"
ust_yields.tail()

            UST_2Y  UST_10Y
date
2025-12-12    3.52     4.19
2025-12-15    3.51     4.18
2025-12-16    3.48     4.15
2025-12-17    3.49     4.16
2025-12-18    3.46     4.12

In [525]:
market_data = yahoo_prices.merge(
    ust_yields,
    left_index=True,
    right_index=True,
    how="left"
)

market_data.tail()

,SP500,NASDAQ,DXY,VIX,GOLD,UST_2Y,UST_10Y
date,,,,,,,
2025-12-15,98.150002,395.799988,6816.509766,23057.410156,16.500000,3.51,4.18
2025-12-16,98.150002,395.890015,6800.259766,23111.460938,16.480000,3.48,4.15
2025-12-17,98.370003,399.290009,6721.430176,22693.320312,17.620001,3.49,4.16
2025-12-18,98.430000,398.570007,6774.759766,23006.359375,16.870001,3.46,4.12
2025-12-19,98.599998,399.019989,6834.500000,23307.619141,14.910000,NaN,NaN

In [526]:
import os

PROJECT_ROOT = os.path.dirname(os.getcwd())
DATA_PATH = os.path.join(PROJECT_ROOT, "data", "market_data_full.csv")

market_data.to_csv(DATA_PATH)

print("Saved combined market data to:", DATA_PATH)

Saved combined market data to: /Users/max/Documents/macro-event-impact-tracker/data/market_data_full.csv

In [527]:
macro_events = pd.DataFrame([
    # CPI
    {"event_id": "CPI_2024_01", "event_date": "2024-01-11", "event_time": "08:30", "event_type": "CPI", "source": "BLS"},
    {"event_id": "CPI_2024_02", "event_date": "2024-02-13", "event_time": "08:30", "event_type": "CPI", "source": "BLS"},
    {"event_id": "CPI_2024_03", "event_date": "2024-03-12", "event_time": "08:30", "event_type": "CPI", "source": "BLS"},

    # NFP
    {"event_id": "NFP_2024_01", "event_date": "2024-01-05", "event_time": "08:30", "event_type": "NFP", "source": "BLS"},
    {"event_id": "NFP_2024_02", "event_date": "2024-02-02", "event_time": "08:30", "event_type": "NFP", "source": "BLS"},
    {"event_id": "NFP_2024_03", "event_date": "2024-03-08", "event_time": "08:30", "event_type": "NFP", "source": "BLS"},

    # FOMC
    {"event_id": "FOMC_2024_01", "event_date": "2024-01-31", "event_time": "14:00", "event_type": "FOMC", "source": "Federal Reserve"},
    {"event_id": "FOMC_2024_02", "event_date": "2024-03-20", "event_time": "14:00", "event_type": "FOMC", "source": "Federal Reserve"},
])

macro_events["event_date"] = pd.to_datetime(macro_events["event_date"])
macro_events

       event_id event_date event_time event_type           source
0   CPI_2024_01 2024-01-11      08:30        CPI              BLS
1   CPI_2024_02 2024-02-13      08:30        CPI              BLS
2   CPI_2024_03 2024-03-12      08:30        CPI              BLS
3   NFP_2024_01 2024-01-05      08:30        NFP              BLS
4   NFP_2024_02 2024-02-02      08:30        NFP              BLS
5   NFP_2024_03 2024-03-08      08:30        NFP              BLS
6  FOMC_2024_01 2024-01-31      14:00       FOMC  Federal Reserve
7  FOMC_2024_02 2024-03-20      14:00       FOMC  Federal Reserve

In [528]:
import os

PROJECT_ROOT = os.path.dirname(os.getcwd())
EVENT_PATH = os.path.join(PROJECT_ROOT, "data", "macro_events.csv")

macro_events.to_csv(EVENT_PATH, index=False)

print("Saved macro events to:", EVENT_PATH)

Saved macro events to: /Users/max/Documents/macro-event-impact-tracker/data/macro_events.csv

In [529]:
import pandas as pd

# Load market data
market_data = pd.read_csv(
    "../data/market_data_full.csv",
    parse_dates=["date"],
    index_col="date"
)

# Load macro events
macro_events = pd.read_csv(
    "../data/macro_events.csv",
    parse_dates=["event_date"]
)

print("Market data shape:", market_data.shape)
print("Macro events shape:", macro_events.shape)

market_data.head(), macro_events.head()

Market data shape: (2762, 7)
Macro events shape: (8, 5)

(                SP500      NASDAQ          DXY          VIX       GOLD  \
 date
 2015-01-02  91.080002  114.080002  2058.199951  4726.810059  17.790001
 2015-01-05  91.379997  115.800003  2020.579956  4652.569824  19.920000
 2015-01-06  91.500000  117.120003  2002.609985  4592.740234  21.120001
 2015-01-07  91.889999  116.430000  2025.900024  4650.470215  19.309999
 2015-01-08  92.370003  115.940002  2062.139893  4736.189941  17.010000

             UST_2Y  UST_10Y
 date
 2015-01-02    0.66     2.12
 2015-01-05    0.68     2.04
 2015-01-06    0.65     1.97
 2015-01-07    0.62     1.96
 2015-01-08    0.62     2.03  ,
       event_id event_date event_time event_type source
 0  CPI_2024_01 2024-01-11      08:30        CPI    BLS
 1  CPI_2024_02 2024-02-13      08:30        CPI    BLS
 2  CPI_2024_03 2024-03-12      08:30        CPI    BLS
 3  NFP_2024_01 2024-01-05      08:30        NFP    BLS
 4  NFP_2024_02 2024-02-02      08:30        NFP    BLS)

In [530]:
event_windows = {
    "pre_1d": -1,
    "pre_5d": -5,
    "post_1d": 1,
    "post_5d": 5
}

event_windows

{'pre_1d': -1, 'pre_5d': -5, 'post_1d': 1, 'post_5d': 5}

In [531]:
def get_nearest_trading_day(date, market_index):
    if date in market_index:
        return date
    return market_index[market_index.get_indexer([date], method="nearest")[0]]

In [532]:
event_reactions = []

for _, event in macro_events.iterrows():
    event_date = event["event_date"]
    event_type = event["event_type"]
    event_id = event["event_id"]

    aligned_date = get_nearest_trading_day(event_date, market_data.index)

    for label, offset in event_windows.items():
        window_date = aligned_date + pd.Timedelta(days=offset)

        if window_date in market_data.index:
            row = {
                "event_id": event_id,
                "event_type": event_type,
                "event_date": event_date,
                "window": label,
                "window_date": window_date,
            }

            for col in market_data.columns:
                row[col] = market_data.loc[window_date, col]

            event_reactions.append(row)

event_reactions_df = pd.DataFrame(event_reactions)
event_reactions_df.head()

,event_id,event_type,event_date,window,window_date,SP500,NASDAQ,DXY,VIX,GOLD,UST_2Y,UST_10Y
0,CPI_2024_01,CPI,2024-01-11,pre_1d,2024-01-10,102.360001,187.500000,4783.450195,14969.650391,12.69,4.37,4.04
1,CPI_2024_01,CPI,2024-01-11,post_1d,2024-01-12,102.400002,189.710007,4783.830078,14972.759766,12.70,4.14,3.96
2,CPI_2024_01,CPI,2024-01-11,post_5d,2024-01-16,103.360001,187.910004,4765.979980,14944.349609,13.84,4.22,4.07
3,CPI_2024_02,CPI,2024-02-13,pre_1d,2024-02-12,104.169998,187.110001,5021.839844,15942.549805,13.93,4.46,4.17
4,CPI_2024_02,CPI,2024-02-13,pre_5d,2024-02-08,104.150002,188.330002,4997.910156,15793.709961,12.79,4.46,4.15

In [533]:
# Pivot so each event has windows side-by-side
pivot_cols = ["SP500", "NASDAQ", "DXY", "VIX", "GOLD", "UST_2Y", "UST_10Y"]

event_pivot = (
    event_reactions_df
    .pivot_table(
        index=["event_id", "event_type", "event_date"],
        columns="window",
        values=pivot_cols
    )
)

event_pivot.head()

                                            DXY                            \
window                                  post_1d      post_5d       pre_1d
event_id     event_type event_date
CPI_2024_01  CPI        2024-01-11  4783.830078  4765.979980  4783.450195
CPI_2024_02  CPI        2024-02-13  5000.620117          NaN  5021.839844
CPI_2024_03  CPI        2024-03-12  5165.310059          NaN  5117.939941
FOMC_2024_01 FOMC       2024-01-31  4906.189941  4942.810059  4924.970215
FOMC_2024_02 FOMC       2024-03-20  5241.529785  5218.189941  5178.509766

                                                   GOLD                        \
window                                   pre_5d post_1d post_5d pre_1d pre_5d
event_id     event_type event_date
CPI_2024_01  CPI        2024-01-11          NaN   12.70   13.84  12.69    NaN
CPI_2024_02  CPI        2024-02-13  4997.910156   14.38     NaN  13.93  12.79
CPI_2024_03  CPI        2024-03-12  5157.359863   13.75     NaN  15.22  14.44
FOMC_2024_01 FOMC       2024-01-31  4890.970215   13.88   13.67  13.31  13.26
FOMC_2024_02 FOMC       2024-03-20  5117.089844   12.92   13.19  13.82  14.41

                                        NASDAQ              ... UST_10Y  \
window                                 post_1d     post_5d  ...  pre_1d
event_id     event_type event_date                          ...
CPI_2024_01  CPI        2024-01-11  189.710007  187.910004  ...    4.04
CPI_2024_02  CPI        2024-02-13  184.419998         NaN  ...    4.17
CPI_2024_03  CPI        2024-03-12  201.190002         NaN  ...    4.10
FOMC_2024_01 FOMC       2024-01-31  190.410004  187.570007  ...    4.06
FOMC_2024_02 FOMC       2024-03-20  201.970001  200.990005  ...    4.30

                                           UST_2Y                        \
window                             pre_5d post_1d post_5d pre_1d pre_5d
event_id     event_type event_date
CPI_2024_01  CPI        2024-01-11    NaN    4.14    4.22   4.37    NaN
CPI_2024_02  CPI        2024-02-13   4.15    4.56     NaN   4.46   4.46
CPI_2024_03  CPI        2024-03-12   4.09    4.61     NaN   4.51   4.50
FOMC_2024_01 FOMC       2024-01-31   4.15    4.20    4.46   4.36   4.34
FOMC_2024_02 FOMC       2024-03-20   4.31    4.62    4.54   4.68   4.72

                                             VIX                              \
window                                   post_1d       post_5d        pre_1d
event_id     event_type event_date
CPI_2024_01  CPI        2024-01-11  14972.759766  14944.349609  14969.650391
CPI_2024_02  CPI        2024-02-13  15859.150391           NaN  15942.549805
CPI_2024_03  CPI        2024-03-12  16177.769531           NaN  16019.269531
FOMC_2024_01 FOMC       2024-01-31  15361.639648  15597.679688  15509.900391
FOMC_2024_02 FOMC       2024-03-20  16401.839844  16384.470703  16166.790039


window                                    pre_5d
event_id     event_type event_date
CPI_2024_01  CPI        2024-01-11           NaN
CPI_2024_02  CPI        2024-02-13  15793.709961
CPI_2024_03  CPI        2024-03-12  16273.379883
FOMC_2024_01 FOMC       2024-01-31  15455.360352
FOMC_2024_02 FOMC       2024-03-20  15973.169922

[5 rows x 28 columns]

In [534]:
reactions = event_pivot.copy()

# % returns for risk assets
for asset in ["SP500", "NASDAQ", "DXY", "GOLD"]:
    reactions[(asset, "ret_1d")] = (
        event_pivot[(asset, "post_1d")] / event_pivot[(asset, "pre_1d")] - 1
    ) * 100

# Vol change (levels)
reactions[("VIX", "chg_1d")] = (
    event_pivot[("VIX", "post_1d")] - event_pivot[("VIX", "pre_1d")]
)

# Yield changes (bps)
for rate in ["UST_2Y", "UST_10Y"]:
    reactions[(rate, "bps_1d")] = (
        event_pivot[(rate, "post_1d")] - event_pivot[(rate, "pre_1d")]
    ) * 100

reactions.head()

                                            DXY                            \
window                                  post_1d      post_5d       pre_1d
event_id     event_type event_date
CPI_2024_01  CPI        2024-01-11  4783.830078  4765.979980  4783.450195
CPI_2024_02  CPI        2024-02-13  5000.620117          NaN  5021.839844
CPI_2024_03  CPI        2024-03-12  5165.310059          NaN  5117.939941
FOMC_2024_01 FOMC       2024-01-31  4906.189941  4942.810059  4924.970215
FOMC_2024_02 FOMC       2024-03-20  5241.529785  5218.189941  5178.509766

                                                   GOLD                        \
window                                   pre_5d post_1d post_5d pre_1d pre_5d
event_id     event_type event_date
CPI_2024_01  CPI        2024-01-11          NaN   12.70   13.84  12.69    NaN
CPI_2024_02  CPI        2024-02-13  4997.910156   14.38     NaN  13.93  12.79
CPI_2024_03  CPI        2024-03-12  5157.359863   13.75     NaN  15.22  14.44
FOMC_2024_01 FOMC       2024-01-31  4890.970215   13.88   13.67  13.31  13.26
FOMC_2024_02 FOMC       2024-03-20  5117.089844   12.92   13.19  13.82  14.41

                                        NASDAQ              ...           VIX  \
window                                 post_1d     post_5d  ...       post_5d
event_id     event_type event_date                          ...
CPI_2024_01  CPI        2024-01-11  189.710007  187.910004  ...  14944.349609
CPI_2024_02  CPI        2024-02-13  184.419998         NaN  ...           NaN
CPI_2024_03  CPI        2024-03-12  201.190002         NaN  ...           NaN
FOMC_2024_01 FOMC       2024-01-31  190.410004  187.570007  ...  15597.679688
FOMC_2024_02 FOMC       2024-03-20  201.970001  200.990005  ...  16384.470703

                                                                   SP500  \
window                                    pre_1d        pre_5d    ret_1d
event_id     event_type event_date
CPI_2024_01  CPI        2024-01-11  14969.650391           NaN  0.039079
CPI_2024_02  CPI        2024-02-13  15942.549805  15793.709961  0.527986
CPI_2024_03  CPI        2024-03-12  16019.269531  16273.379883 -0.077770
FOMC_2024_01 FOMC       2024-01-31  15509.900391  15455.360352 -0.338490
FOMC_2024_02 FOMC       2024-03-20  16166.790039  15973.169922  0.183029

                                      NASDAQ       DXY      GOLD         VIX  \
window                                ret_1d    ret_1d    ret_1d      chg_1d
event_id     event_type event_date
CPI_2024_01  CPI        2024-01-11  1.178670  0.007942  0.078804    3.109375
CPI_2024_02  CPI        2024-02-13 -1.437658 -0.422549  3.230436  -83.399414
CPI_2024_03  CPI        2024-03-12 -0.400989  0.925570 -9.658346  158.500000
FOMC_2024_01 FOMC       2024-01-31  0.965060 -0.381328  4.282492 -148.260742
FOMC_2024_02 FOMC       2024-03-20  1.086085  1.216953 -6.512298  235.049805

                                   UST_2Y UST_10Y
window                             bps_1d  bps_1d
event_id     event_type event_date
CPI_2024_01  CPI        2024-01-11  -23.0    -8.0
CPI_2024_02  CPI        2024-02-13   10.0    10.0
CPI_2024_03  CPI        2024-03-12   10.0     9.0
FOMC_2024_01 FOMC       2024-01-31  -16.0   -19.0
FOMC_2024_02 FOMC       2024-03-20   -6.0    -3.0

[5 rows x 35 columns]

In [535]:
# Keep only the calculated reaction columns
reaction_cols = [col for col in reactions.columns if col[1] in ["ret_1d", "chg_1d", "bps_1d"]]

reaction_table = reactions[reaction_cols].reset_index()

reaction_table.head()

,event_id,event_type,event_date,SP500,NASDAQ,DXY,GOLD,VIX,UST_2Y,UST_10Y
window,,,,ret_1d,ret_1d,ret_1d,ret_1d,chg_1d,bps_1d,bps_1d
0,CPI_2024_01,CPI,2024-01-11,0.039079,1.178670,0.007942,0.078804,3.109375,-23.0,-8.0
1,CPI_2024_02,CPI,2024-02-13,0.527986,-1.437658,-0.422549,3.230436,-83.399414,10.0,10.0
2,CPI_2024_03,CPI,2024-03-12,-0.077770,-0.400989,0.925570,-9.658346,158.500000,10.0,9.0
3,FOMC_2024_01,FOMC,2024-01-31,-0.338490,0.965060,-0.381328,4.282492,-148.260742,-16.0,-19.0
4,FOMC_2024_02,FOMC,2024-03-20,0.183029,1.086085,1.216953,-6.512298,235.049805,-6.0,-3.0

In [536]:
import os

PROJECT_ROOT = os.path.dirname(os.getcwd())
OUT_PATH = os.path.join(PROJECT_ROOT, "outputs", "event_reaction_1d.csv")

reaction_table.to_csv(OUT_PATH, index=False)

print("Saved event reactions to:", OUT_PATH)

Saved event reactions to: /Users/max/Documents/macro-event-impact-tracker/outputs/event_reaction_1d.csv

In [537]:
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_theme(style="whitegrid")

In [538]:
avg_reactions = (
    reaction_table
    .groupby("event_type")
    .mean(numeric_only=True)
    .reset_index()
)

avg_reactions

/var/folders/35/bqvj76w528bcg7bcnchzncw00000gn/T/ipykernel_13483/2652252870.py:4: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  .mean(numeric_only=True)

,event_type,SP500,NASDAQ,DXY,GOLD,VIX,UST_2Y,UST_10Y
window,,ret_1d,ret_1d,ret_1d,ret_1d,chg_1d,bps_1d,bps_1d
0,CPI,0.163098,-0.219992,0.170321,-2.116368,26.069987,-1.0,3.666667
1,FOMC,-0.077730,1.025573,0.417813,-1.114903,43.394531,-11.0,-11.000000
2,NFP,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [539]:
plt.figure(figsize=(10, 6))

for asset in ["SP500_ret_1d", "NASDAQ_ret_1d"]:
    plt.bar(
        avg_reactions["event_type"],
        avg_reactions[asset],
        label=asset.replace("_ret_1d", "")
    )

plt.title("Average 1-Day Equity Returns by Macro Event")
plt.ylabel("Return (%)")
plt.legend()
plt.show()

KeyError: 'SP500_ret_1d'

In [ ]:
# Flatten multi-index columns
reaction_table.columns = [
    f"{col[0]}_{col[1]}" if isinstance(col, tuple) else col
    for col in reaction_table.columns
]

reaction_table.head()

In [ ]:
avg_reactions = (
    reaction_table
    .groupby("event_type")
    .mean(numeric_only=True)
    .reset_index()
)

avg_reactions

In [ ]:
print("reaction_table exists:", "reaction_table" in globals())
print("Columns:")
print(reaction_table.columns.tolist())
print("\nPreview:")
reaction_table.head()

In [ ]:
print("hello")
reaction_table.head()